<?xml version="1.0"?>
<!--
 PlatiOnline payment module

 @category    Xtreme
 @package     Xtreme_PlatiOnline
 @author      Marian-Daniel Ursache <marian.ursache@gmail.com>, Michael Mussulis <michael@xtreme-vision.net>
 @copyright   Xtreme Vision SRL
 @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)

 Module Default Config
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <xtreme_plationline>
                <model>Xtreme\PlatiOnline\Model\Payment</model>
                <!--<payment_action>authorize_capture</payment_action>-->
                <payment_action>true</payment_action>
                <title>Plati Online</title>
                <active>0</active>
                <debug>0</debug>
                <test>0</test>
                <gateway_url><![CDATA[https://secure2.plationline.ro/trans30.asp]]></gateway_url>
                <relay_method>POST_S2S_PO_PAGE</relay_method>
                <payment_timeout>0</payment_timeout>
		<group>offline</group>
                <order_status>pending_payment</order_status>
            </xtreme_plationline>
        </payment>
    </default>
</config>
